[Desktop Entry]
Encoding=UTF-8
Name=plasmaSimpleSpacer
Type=Service
ServiceTypes=Plasma/Applet
Icon=contents/icons/Spacer.png
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Fl@sh
X-KDE-PluginInfo-Email=no@mail.me
X-KDE-PluginInfo-Name=plasmaSimpleSpacer
X-KDE-PluginInfo-Version=0.10
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Miscellaneous
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-NotificationArea=true
